In [1]:
import pandas as pd

### Load the data you receive into a Pandas DataFrame
### Show the first five rows of the data set.

In [2]:
df_salary = pd.read_csv("./Salary.csv")
df_salary.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

### Show the description and the info of the data set.

In [4]:
df_salary.describe()

       YearsExperience         Salary
count        35.000000      35.000000
mean          6.308571   83945.600000
std           3.618610   32162.673003
min           1.100000   37731.000000
25%           3.450000   57019.000000
50%           5.300000   81363.000000
75%           9.250000  113223.500000
max          13.500000  139465.000000

### Ensure that any date columns have been cast into a datetime object in your DataFrame

In [7]:
df_salary['Years of Experience'] = df_salary['YearsExperience'].dt.year

AttributeError: Can only use .dt accessor with datetimelike values